.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  color:#6565cd;
  font-family: 'Patrick Hand', cursive;
}

.header .header__title {
  font-size: 24px;
  font-weight: 600;
}

.header .header__icon {
  font-size: 20px;
  margin-left: 20px;
  cursor: pointer;


}
.header .header__icon:hover {
 color:#86A8E7;
 font-size: 25px;
 transform: rotate(-1.2turn) scale(1.5);

}

.header .header__header-column {
  display: flex;
  align-items: center;
}

.header .header__back-btn {
  font-size: 22px;
  margin-right: 20px;
}
